<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Appendicitis</span></h2></div>
<div>
  <h2><span>What is the appendix?</span></h2>
</div>
<div class="blog_text">
  <p>The appendix is a narrow, small, finger-shaped portion of the large intestine
    that generally hangs down from the lower right side of the abdomen.<br/>
    If the appendix becomes infected (appendicitis),
    the infected appendix must be surgically removed (emergency appendectomy)
    before a hole develops in the appendix and spreads the infection to the entire abdominal space.
    </</p>
</div>
<div>
  <h2><span>Symptoms of appendicitis</span></h2>
</div>
<div class="blog_text">
  <p>
  <ul>
    <li> Abdominal pain</li>
    <li>Fever usually occurs within several hours</li>
    <li>Loss of appetite</li>
    <li>Nausea</li>
    <li>Vomiting</li>
    <li>Constipation</li>
    <li>Rectal tenderness</li>
    <li>Chills and shaking</li>
  </ul>
</p>
</div>
<div>
  <h2><span>What is a laparoscopic appendectomy?</span></h2>
</div>
<div class="blog_text">
  <p>
    Appendicitis is one of the most common surgical problems. 
    One out of every 2,000 people has an appendectomy sometime during their lifetime.
    Treatment requires an operation to remove the infected appendix.
    Traditionally, the appendix is removed through an incision in the right lower abdominal wall.
  </p>
  <p>
    In most laparoscopic appendectomies, surgeons operate through 3 small incisions
    (each ¼ to ½ inch) while watching an enlarged image of the patient’s internal organs
    on a television monitor. In some cases, one of the small openings may be
    lengthened to 2 or 3 inches to complete the procedure.
  </p>
</div>

<div>
  <h2><span>Acute appendicitis with peritonitis.<br/>
  Difficult surgery to be performed</span></h2>
</div>
<iframe width="420" height="345" src="https://www.youtube.com/embed/_BVbUjYYkGg"></iframe>

<div>
  <h2><span>Advantages OF Laparoscopic Appendecomy</span></h2>
</div>
<div class="blog_text">
  <p>
  <ul>
    <li>Less post-operative pain</li>
    <li>Faster recovery and return to normal activity</li>
    <li>Shorter hospital stay</li>
    <li>Less post-operative complications</li>
    <li>Minimally sized incisions/scars</li>
  </ul>
</p>
<p>
  In most cases, patients can be discharged within 24 to 36 hours.
  By contrast, the hospital stay is typically two to five days for an open procedure.
</p>
</div>
