<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic cholecystectomy</span></h2></div>
<div>
  <h2><span>What is a laparoscopic cholecystectomy?</span></h2>
</div>
<div class="blog_text">
  <p>The surgery to remove the gallbladder is called a cholecystectomy.
    The gallbladder is removed through a 5 to 8 inch long incision, or cut, in your abdomen.
    The cut is made just below your ribs on the right side and goes to just below your waist.
    This is called open cholecystectomy.</p>
  <p>
    A less invasive way to remove the gallbladder is called laparoscopic cholecystectomy.
    This surgery uses a laparoscope to remove the gallbladder.
    It is performed through several small incisions rather than through one large incision.
  </p>
</div>
<div>
  <h2><span>How long will you be in the hospital?</span></h2>
</div>
<div class="blog_text">
  <p>
    Once a diet is tolerated, patients leave the hospital.
    Most patients go home the next day after a laparoscopic cholecystectomy.
    Some may even go home the same day the operation is performed.
    This compares with a five day stay following the open cholecystectomy procedure.
  </p>
</div>

<div>
  <h2><span>Laparoscopic cholecystectomy performed by our doctors</span></h2>
</div>
<iframe width="420" height="345" src="https://www.youtube.com/embed/674NLGJhXUU"></iframe>

<div>
  <h2><span>Benefits  laparoscopic cholecystectomy</span></h2>
</div>
<div class="blog_text">
  <ul>
    <li>May return to work sooner.</li>
    <li>Have less pain after surgery.</li>
    <li>Shorter recovery time</li>
    <li>Shorter hospital stay</li>
    <li>Surgery to remove the gallbladder with a laparoscope does not require
      that the muscles of your abdomen be cut, as they are in open surgery.</li>
  </ul>
</div>