<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Ovarian Cyst Removal</span></h2></div>
<div>
  <h2><span>What it is ?</span></h2>
</div>
<div class="blog_text">
  <p>
    Ovarian cyst removal is surgery to remove a cyst or cysts from one or both 
    of your ovaries. A laparoscopic surgery uses small incisions and specialized
    tools. It may offer faster recovery times than open surgery.
  </p>
</div>
<div>
  <h2><span>Reasons for Procedure</span></h2>
</div>
<div class="blog_text">
  <p>
    An ovarian cyst may need to be removed if it is:
  <ul>
    <li>Large—more than 2.5 inches in diameter</li>
    <li>Solid—rather than containing just fluid</li>
    <li>Causing pain</li>
    <li>Suspected of being cancerous —the chances are lower if you are young</li>
  </ul>
</p>
</div>
<div>
  <h2><span>Surgery performed by our doctors</span></h2>
</div>
<div class="blog_text">
  <p> 23 years unmarried girl came with pain in abdomen for 5 days .</p>
  <p> Her examination and USG showed evidence of right ovarian cyst 8cm in diameter
    and doppler showed no blood flow in the cyst wall.</p>
  <p>Laparoscopy revealed torsion and gangrene of right adenexa.
    The adenexa was separated and after deflating the contents was removed
    from mini lap incision in rt iliac fossa.</p>
</div>
<iframe width="420" height="345" src="https://www.youtube.com/embed/zMSFePNP0EM"></iframe>
<div>
  <h2><span>How Long Will It Take?</span></h2>
</div>
<div class="blog_text">
  <p>The procedure need just 1-2 hours.</p>
</div>
<div>
  <h2><span>Average Hospital Stay</span></h2>
</div>
<div class="blog_text">
  <p>
    You may stay overnight, or you may be able to leave the hospital the same day as your surgery.
  </p>
</div>