<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Surgery for Endometriosis</span></h2></div>
<div>
  <h2><span>What is Endometriosis?</span></h2>
</div>
<div class="blog_text">
  <p>Endometriosis happens when tissue that lines your uterus also grows outside
    your uterus. These growths often attach to the ovaries or other organs,
    and they may bleed during your period and cause pain. They may also make it
    for you to get pregnant.
  </p>
  <p>
    Endometriosis can be treated with medicines or with surgery.
  </p>
</div>
<div>
  <h2><span>When our doctors can suggest laparoscopic surgery?</span></h2>
</div>
<div class="blog_text">
  <p>
    <strong>View</strong> the internal organs to look for signs of endometriosis
    and other possible problems. This is the only way that endometriosis can be 
    diagnosed with certainty. But a "no endometriosis" diagnosis is never certain.
    Growths (implants) can be tiny or hidden from the surgeon's view.
  </p>
  <p>
    <strong>Remove</strong> any visible endometriosis implants and scar tissue 
    that may be causing pain or infertility. If an endometriosis cyst is found
    growing on an ovary (endometrioma), it is likely to be removed.
  </p>
</div>
<div>
  <h2><span>Infertility</span></h2>
</div>
<div class="blog_text">
  <p>If infertility is your primary concern, your doctor will probably use
    laparoscopy to look for and remove signs of endometriosis.
  </p>
  <ul>
    <li>
      Research has not firmly proved that removing mild endometriosis improves fertility.
    </li>
    <li>For moderate to severe endometriosis, surgery will improve your chances of pregnancy.</li>
    <li>
      In some severe cases, a fertility specialist will recommend skipping surgical removal and using in vitro fertilization.
    </li>
  </ul>
</div>

