<div class="blog" style="min-height: 0px;"><h2><span>Fertility enhancing laparoscopic surgery</span></h2></div>
<div class="blog_text">
  There are many conditions can contribute to infertility, Uterine abnormalities
  e.g. fibroids, endometriosis, pelvic adhesions (scar tissue in the pelvis) and
  uterine anomalies such as a uterine septum and adhesions are few notoriously known for this.
  Treatment as well as proper diagnose are the key to handle such issues.
</div>
<div>
  <h2><span>Why Our Hospital ?</span></h2>
</div>
<div class="blog_text">
  Our hospital provides a wide range of surgical services in order to
  either correct abnormalities of the female reproductive tract and promote fertility.
  Our expertise in the field proper diagnose as well as performing remedial surgeries along with
  our experience to handle such cases is the key to our success.<br/> Our in-house accurate diagnose
  help the patients to know exact problem; we recommend hysteroscopy + laparoscopy to better diagnose the problem.
</div>
<div>
  <h2><span>Fertility Surgery Procedures</span></h2>
</div>
<div class="blog_text">
  Many procedures that were traditionally only done through large open incisions 
  can now be done laparoscopically.<br/>
  The following key fertility enhancing surgeries surgical procedures can be performed 
  to treat conditions that lead to infertility at our hospital are:
  <ul style="line-height: 35px;">
    <li>Laparoscopic myomectomy for the removal of large fibroids or multiple fibroids</li>
    <li>Laparoscopic treatment of advanced stage endometriosis</li>
    <li>Laparoscopic procedures in patients with a history of multiple prior surgeries</li>
    <li>Laparoscopic tubal reanastomosis (tubal ligation reversal)</li>
    <li>Laparoscopic removal of large benign ovarian masses or cysts</li>
  </ul>
</div>