<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Hernia</span></h2></div>
<div>
  <h2><span>What is a hernia?</span>
  </h2>
</div>
<div class="blog_text">
  <p>
    A hernia occurs when the inside layers of the abdominal wall weaken then bulge or tear. The inner lining of the abdomen pushes through the weakened area to form a balloon-like sac. This, in turn, can cause a loop of intestine or abdominal tissue to slip into the sac, causing severe pain and other potentially serious health problems.
  </p>
  <p>
    Men and women of all ages can have hernias. Hernias usually occur either because of a natural weakness in the abdominal wall or from excessive strain on the abdominal wall such as strain from heavy lifting, substantial weight gain, persistent coughing, or difficulty with bowel movements or urination. Eighty percent of all hernias are located near the groin. Hernias might also be found below the groin (femoral), through the navel (umbilical), and along a previous incision (incisional).
  </p>
</div>

<div>
  <h2><span>What are the symptoms of hernias?</span>
  </h2>
</div>
<div class="blog_text">
  <p>
  <ul>
    <li>A noticeable protrusion in the groin area or in the abdomen</li>
    <li>Feeling pain while lifting</li>
    <li>A dull aching sensation</li>
    <li>A vague feeling of fullness</li>
    <li> Nausea and constipation</li>
  </ul>
</p>
</div>
<div>
  <h2><span>How is a laparoscopic hernia repair performed?</span>
  </h2>
</div>
<div class="blog_text">
  <p>
    Laparoscopic surgery uses a thin, telescope-like instrument known as a laparoscope
    that is inserted through a small incision at the umbilicus (belly button).
    Usually, this procedure is performed under general anesthesia.
  </p>
  <p>
    You will not feel pain during this surgery.
    The laparoscope is connected to a tiny video camera, smaller than a dime,
    which projects an "inside view" of the patient's body onto television screens
    in the operating room. The abdomen is inflated with a harmless gas (carbon dioxide)
    to allow your doctor to view your internal structures. The peritoneum
    (the inner lining of your abdomen) is cut to expose the weakness in the abdominal wall.
    A mesh patch is attached to secure the weak area under the peritoneum.
    The peritoneum is then stapled or sutured closed. Following the procedure,
    the small abdominal incisions are closed with a stitch or two, or with surgical tape.
    Within a few months, the incision are barely visible.
  </p>
</div>
<div>
  <h2><span>Ventral hernia<br/>laparoscopic repairs of post operative incisional hernia</span>
  </h2>
</div>
<div class="blog_text">
  <iframe width="420" height="345" src="https://www.youtube.com/embed/jbIKGFKMHJA"></iframe>
</div>
<div>
  <h2><span>Recurrent umbilical hernia<br/> Laparoscopic repairs with composite mesh</span></h2>
</div>
<div class="blog_text">
  <iframe width="420" height="345" src="https://www.youtube.com/embed/hVQawztdxvM"></iframe>
</div>
<div>
  <h2><span>Left inguinal hernia<br/>left inguinal hernia mesh repairs</span></h2>
</div>
<div class="blog_text">
  <iframe width="420" height="345" src="https://www.youtube.com/embed/SGG8XN22b9g"></iframe>
</div>

<div>
  <h2><span>Benefits of laparoscopic hernia surgery</span>
  </h2>
</div>
<div class="blog_text">
  <p>
  <ul>
    <li>Three tiny scars rather than one large abdominal incision</li>
    <li>Short hospital stay (You might leave the day of surgery or the first day after surgery)</li>
    <li>Reduced post-operative pain</li>
    <li>Low hospital costs</li>
    <li>Faster return to work</li>
    <li>Shorter recovery time and earlier resumption of daily activities
      (a recovery time of days instead of weeks)</li>
  </ul>
</p>
</div>

