<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Hernia</span></h2></div>

<br/><br/>
<div>
  <span>Ventral hernia<br/>laparoscopic repairs of post operative incisional hernia</span>
  <br/>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/jbIKGFKMHJA"></iframe>
</div>
<div>
  <span>Recurrent umbilical hernia<br/> Laparoscopic repairs with composite mesh</span>
  <br/>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/hVQawztdxvM"></iframe>
</div>
<div>
  <span>Left inguinal hernia<br/>left inguinal hernia mesh repairs</span>
  <br/>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/SGG8XN22b9g"></iframe>
</div>


