<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Hysterectomy</span></h2></div>
<div>
  <h2><span>Why Laparoscopic Hysterectomy ?</span></h2>
</div>
<div class="blog_text">
  <p>Nowadays, it is possible to look inside the abdomen and even perform surgery inside the human body
    without making a large cut or incision on the abdomen.We are the only maternity , newborn care and health care  hospital in this area which exclusively specializes
    in offering surgeries with laparoscopy.
  </p>
  <p>
    A laparoscopic hysterectomy is a minimally invasive surgical procedure to remove the uterus.
    Sometimes patient have to go through hysterectomy due to cancer , fibroids, vaginal bleeding
    or chronical pelvic pain relief .
  </p>
  <ul style="line-height: 35px;">
    <li>Its very easy and painless to do with laparoscopy. </li>
    <li>
      A small incision is made in the belly button and a tiny camera is inserted.
      Our surgeons watches the image from this camera on a TV screen and
      performs the operative procedure.  We use specialized instruments for this removal process.
    </li>
    <li>If patient go through Laparoscopic hysterectomy, patients suffers less post-surgical
      pain than traditional hysterectomy patients.</li>
    <li>There is no abdominal wound so there are
      no wound infections.</li>
  </ul>
</div>
<div>
  <h2><span>Laparoscopic hysterectomy using conventional bipolar cautery and scissors performed by our doctors</span></h2>
</div>
<iframe width="420" height="345" src="https://www.youtube.com/embed/3xDhB6rf4JE"></iframe>

<div>
  <h2><span>What type of anesthesia will be required?</span></h2>
</div>
<div class="blog_text">
  Patients are put to sleep under general anesthesia
</div>
<div>
  <h2><span>Is there a hospital stay after surgery?</span></h2>
</div>
<div class="blog_text">
  The majority of our patients go home the same day as their surgery.
</div>
<div>
  <h2><span>What kind of recovery can be expected?</span></h2>
</div>
<div class="blog_text">
  The recovery time is very quick. Almost all the patients go home
  the same day following hysteroscopic surgery.We encourage patients NOT to stay in bed.
  They should move around the house and resume normal activities as soon as they feel up to it.
  Some women are well enough to return to work one week after surgery.
</div>
