<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic surgery</span></h2></div>
<div>
  <h2><span>What is laparoscopic surgery?</span></h2>
</div>
<div class="blog_text">
  <p>
    Our physicians are experts at minimally invasive surgical techniques. 
    Minimally invasive surgical approaches emphasize small, limited incisions and 
    surgical care as an outpatient. Our surgeons are skilled in advanced laparoscopic and hysteroscopic procedures.
  </p>
  <p>Laparoscopic procedures can be performed using small incisions of around 0.5 to 1.5 cm that can be made far away from the surgical site.</p>
  <p> Small, thin surgical instruments can then be passed through the incision and threaded through to the operational site.</p>
  <p>The whole procedure is carried out using a laparoscope which is a small tube with a camera at the tip that can be used to relay images from inside the body to a TV monitor.</p>
  <p>The video camera becomes a surgeon’s eyes in laparoscopy surgery, since the surgeon uses the image from the video camera positioned inside the patient’s body to perform the procedure.</p>
</div>

<div>
  <h2><span>What kinds of operations can be performed using laparoscopic surgery?</span></h2>
</div>
<div class="blog_text">
  <p>Most intestinal surgeries can be performed using the laparoscopic technique.</p>
  <p>We prefer to do laparoscopic surgeries for below operations</p>
  <ul style="line-height: 35px;">
    <li>Laparoscopic Hysterectomy of prev 2 lscs </li>
    <li><b>Hysteroscopy</b> surgical procedure that makes examining the inside of the uterus possible without making an abdominal cut</li>
    <li>Fertility enhancing laparoscopic surgery</li>
    <li><b>Myomectomy</b> It is the surgical removal of fibroids from the uterus.</li>
    <li><b>Tubal Cannulation</b> procedure to help clear a blockage in the fallopian tubes</li>
    <li><b>Surgeries of Paraovarian Cyst, Dermoid Cyst, Ovarian Cyst, Chocolate Cyst of Ovary</b></li>
    <li><b>Endometriosis Surgery</b> procedure used to diagnose and remove mild to moderate endometriosis</li>
    <li><b>Tuboplasty </b>Procedures involving the repair or reconstruction of the fallopian tubes</li>
    <li><b>Appendicitis</b></li>
    <li><b>Hernia</b></li>
  </ul>
</div>

<div>
  <h2><span>Benefits of laparoscopic procedures</span></h2>
</div>
<div class="blog_text">
  There are a number of advantages to the patient with laparoscopic surgery versus an open procedure.
  <ul style="line-height: 35px;">
    <li>Less post operative discomfort since the incisions are much smaller</li>
    <li>Reduces the chance of needing a blood transfusion</li>
    <li>Reduced exposure of internal organs to possible external contaminants thereby reduced risk of acquiring infections</li>
    <li>Quicker recovery times</li>
    <li>Although procedure times are usually slightly longer, hospital stay is less, and often with a same day discharge</li>
    <li>Earlier return to full activities</li>
    <li>Much smaller scars</li>
    <li>There may be less internal scarring when the procedures are performed in a minimally invasive fashion compared to standard open surgery.</li>
  </ul>
</div>