<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Myomectomy</span></h2></div>
<div>
  <h2><span>What is Laparoscopic Myomectomy ?</span></h2>
</div>
<div class="blog_text">
  <p>
    This surgery involves removing fibroids from the wall of the uterus (womb).
    Fibroids are noncancerous tumors in the muscle of the uterus.
  </p>
</div>
<div>
  <h2><span>Reasons for Procedure</span></h2>
</div>
<div class="blog_text">
  <p>
    Myomectomy is done to relieve problems caused by fibroids without doing a
    hysterectomy (removal of the uterus). These problems can include:
  <ul>
    <li>Pelvic pain</li>
    <li>Back pain</li>
    <li>Pressure on the bladder</li>
    <li>Abnormal vaginal bleeding</li>
    <li>Difficulty becoming pregnant</li>
    <li>Discomfort during sexual intercourse</li>
  </ul>
  The symptoms caused by fibroids are often successfully controlled with this procedure.
  This may include a return to a normal menstrual cycle and the ability to become pregnant.
</p>
</div>
<div>
  <h2><span>What kind of anesthesia require ?</span></h2>
</div>
<div class="blog_text">
  <p>
    General anesthesia is used most often. It will block any pain and keep you
    asleep through the surgery. It is given through an IV in your hand or arm.
  </p>
</div>
<div>
  <h2><span>Laparoscopic Myomectomy performed by our doctors</span></h2>
</div>
<iframe width="420" height="345" src="https://www.youtube.com/embed/lp08Ma-rpd0"></iframe>

<div>
  <h2><span>Average Hospital Stay</span></h2>
</div>
<div class="blog_text">
  <p>
    You will either stay overnight or leave the hospital the same day as your surgery.
  </p>
</div>
<div>
  <h2><span>Post-procedure Care</span></h2>
</div>
<div class="blog_text">
  <p>
    During your stay, the hospital staff will take steps to reduce your chance of infection such as:
  <ul>
    <li>Washing their hands</li>
    <li>Wearing gloves or masks</li>
    <li>Keeping your incisions covered</li>
  </ul>
  There are also steps you can take to reduce your chances of infection such as:
  <ul>
    <li>Washing your hands often and reminding visitors and health care providers to do the same</li>
    <li>Reminding your health care providers to wear gloves or masks</li>
    <li>Not allowing others to touch your incisions</li>
  </ul>
</p>
</div>