<div class="blog" style="min-height: 0px;"><h2><span> Laparoscopic Tubal Cannulation</span></h2></div>
<div>
  <h2><span>Tubal Infertility</span></h2>
</div>
<div class="blog_text">
  <p>
    The fallopian tubes are the pathway to fertility. 
    Sperm travel upward through the fallopian tubes to find an egg.
    After fertilization, the embryo travels back through the tube to the uterus.
    The fallopian tubes are a two-way path that allows the sperm and egg to meet
    and combine and the embryo to arrive in its resting place, the uterus.
    With such a delicate and sophisticated pathway, it is common for problems
    to develop in the tubal system.
  </p>
  <p>
    Evaluation of these problems can be complex, and devising a treatment
    plan requires a close relationship with a physician with experience in these areas
  </p>
</div>
<%= image_tag("fallopian_tube.jpg") -%>
<div>
  <h2><span>What is Tubal Cannulation?</span></h2>
</div>
<div class="blog_text">
  <p>Tubal cannulation is a procedure to help clear a blockage in the fallopian tubes,
    a common cause of female infertility. As many as 1 in 4 women who have difficulty
    getting pregnant have a blockage in the fallopian tubes.
  </p>
</div>
<div class="blog_text">
  <p>
    For the treatment of a tube blocked near the opening of the uterus,
    a tiny wire is placed through the cervix and uterus and into the tube.
    The wire gently opens the tube and may relieve an obstruction in this area.
    Tubal cannulation can be performed in the X-Ray department under fluoroscopy
    or via a hysteroscope. A physician who is experienced in the techniques is essential.
  </p>
</div>
<div>
  <h2><span>Laparoscopic Tubal Cannulation</span></h2>
</div>
<div class="blog_text">
  <p>
    Laparoscopy is the classic procedure to evaluate and treat tubal disease. 
    Under anesthesia, an incision is placed in the belly button, and a small
    television camera is placed through the incision. The doctor can look at
    the pelvic organs, and introduce some treatment equipment through
    small ¼ inch incisions. Problems can be treated with scissors,
    cautery, or a laser.
  </p>
</div>
