<div class="blog" style="min-height: 0px;"><h2><span>Laparoscopic Tuboplasty</span></h2></div>
<div>
  <h2><span>What is tuboplasty?</span></h2>
</div>
<div class="blog_text">
  <p>Tuboplasty refers to a number of surgical operations that attempt
    to restore patency and functioning of the Fallopian tube(s) so that
    a pregnancy could be achieved. As tubal infertility is a common cause of
    infertility, tuboplasties were commonly performed prior to the development
    of effective in vitro fertilization (IVF).
  </p>
</div>
<div>
  <h2><span>Different types of tuboplasty can be distinguished:</span></h2>
</div>
<div class="blog_text">
  <ul>
    <li>Tubal reanastomosis, involves resection of occluded tubal tissue and
      joining the healthy segments.</li>
    <li>Fimbrioplasty, separating agglutinated fimbriae.</li>
    <li>Salpingostomy, creating a new distal opening for the tube.</li>
    <li>Salpingolysis, removing adhesions from around the tube.</li>
    <li>Cornual implantation, resecting of an occluded transmural segment of
      the tube and connecting the distal patent segment of the tube to the uterus
      so that it links up with the endometrial cavity.</li>
  </ul>
</div>
<div>
  <h2><span>Laparoscopic Tuboplasty performed by our doctors</span></h2>
</div>
<iframe width="420" height="345" src="https://www.youtube.com/embed/5HmjZXXkF_U"></iframe>

