<div class="blog" style="min-height: 0px;">
  <h2>
    <span><a href="#">Meet Our Doctors</a></span>
  </h2>
</div>
  <div class="blog_text">
    Rangnath Hospital is full service Women health centre to address key issues related to women
    at different stages of their age, from normal Gynaecological Problems to
    fully fledged obstetrics services.
    All the surgical needs using endoscopic surgical methodology for better diagnose, treatment
    and faster recovery of the patients
    <br/><br/>
    Rangnath hospital has fully fledged departments currently headed by Dr. Pravin Hendre
    which helps getting better results based on his skills and experiences across the departments.
  </div>
  <br/><br/>
  <div id="facultyBody">
    <div>
      <div style="float:left;">
         <%= image_tag("pravin_hendre.jpg",:style=>"width:400px;height:300px;border-radius:20px;") -%>
      </div>
      <div style="padding-top:40px;">
        <h3>Dr. Pravin Hendre</h3>
        <p>M.D. (Obstetrics and Gynaecology)</p>
        <p>Dip. Laparoscopic Surgery (U.S. A.) </p>
        <p>Dip. Pelviscopic Surgery (Germany)</p>
        <p> Cell: 9422047238</p>
      </div>
      <div style="margin-top:110px;">
        Dr. Pravin Hendre is one of the best doctor who presents a very strong track record of doing
        very complicated cases successfully with the help of his extraordinary skills and best use of technology in OT and plasma sterilisation technology which guarantees 0% post-surgery infection.
        <ul>
          <li>1985 M.D. in gynecology <br/></li>
          <li>1987 First place of patient serivce  <b>Swaroop Hospital </b>, Pethwadgaon <br/></li>
          <li>1987 Diploma in Laparoscopy <br/></li>
          <li>1988 Diploma in Surgical Pelviscopy and Vaginosonography</li>
          <li>Study of laparoscopy's latest technology in U.S.A.</li>
          <li>Fertility Enhancing Hystero - Laparoscopy for patients being unable to carry a pregnancy</li>
          <li><b>Laparoscopy Myomectomy </b> laparoscopic surgery to removal 3 kg weight fibroids</li>
        </ul>

      </div>
      <div>
        <div style="float:left;">
            <%= image_tag("ragini_hendre.jpg",:style=>"width:400px;height:300px;border-radius:20px;") -%>

        </div>
        <div style="padding-top:40px;">
          <h3>Dr. Ragini Hendre</h3>
          <p>M.B.B.S. D.C.P.</p>
          <p>Hospital Administrator</p>
          <p>IUI and Pathology lab since 1990 </p>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>