<div class="blog" style="min-height: 0px;"><h2><span>Any Questions ? We are here for you. </span></h2></div>
<div>
  <h2><span>Tips for having natural childbirth</span></h2>
</div>
<div class="blog_text">
  <p>Of the joys and challenges you face in life, none is more extraordinary than
    having your first baby. From the moment you find out that you are pregnant
    to the day you give birth, you will experience many changes and learn new
    ways to take care of yourself and your growing baby.</p>
  <p>We get lots of questions from expectant mothers with questions about how to
    have a normal delivery. Such questions are more frequent from first time mothers</p>
  <p>
    Normal delivery of your baby is possible if you take right care of your health during pregnancy.
    Right diet and right exercise during pregnancy to ensure natural childbirth or normal delivery.
  </p>
  <ul>
    <li>
      <strong>Diet</strong>:
      Stick to nutritious diet and add fresh fruits and vegetables to your daily intake.
      Focus on the intake of iron and calcium rich food items.
    </li>
    <li>Increase your water intake and make sure you drink at least 8 – 10 glasses of water daily.</li>
    <li>Maintain an active lifestyle and this means performing light and permissible
      yoga  and regular walk while you are pregnant. Yoga increases flexibility
      and helps you stay relaxed. </li>
    <li>Be emotionally happy and stress free. </li>
    <li>Listen to good music, and try to be positive</li>
  </ul>
</div>

<div>
  <h2><span>Breastfeeding tips</span></h2>
</div>
<div class="blog_text">
  <ul>
    <li>It is important to put the baby to breast 30 to 60 minutes after birth.</li>
    <li>Within the first hour of life, your baby is most alert and interested in nursing. 
      Your baby is eager to meet you and needs the colostrum (initial fluid from your breast)
      for energy and protection against infection.</li>
    <li>After the first 1 to 2 hours, your baby will become sleepy and more difficult to nurse.</li>
  </ul>
</div>
<div>
  <h2><span>Food Items to Avoid During Pregnancy</span></h2>
</div>
<div class="blog_text">
  <p>Consumption of alcohol, coffee and tea should be minimized. Excess intake of caffeine
    can result in low birth weight, growth retardation and even miscarriage at times.</p>
  <p>Avoid eating sea food in excess. Taking seafood in a limited quantity is good for 
    the development of the child brain.</p>
  <p>Avoid Ready to eat meat and fast food </p>
</div>
<div>
  <h2><span>Morning Sickness</span></h2>
</div>
<div class="blog_text">
  <p>For some pregnant women, the symptoms are worse in the morning and ease up
    over the course of the day</p>
  <p>Morning sickness is not harmful to you or your baby, but if you experience
    excessive vomiting please consult us.</p>
  <p>More than 50% of all pregnant women experience morning sickness. Morning sickness
    refers to the nauseated feeling you get during the first trimester of pregnancy.
    Morning sickness can be, but is not always, accompanied with vomiting. The nausea
    is a result of the increased hormones in your body. We doctors think morning sickness
    is a good sign because it means the placenta is developing well.</p>
</div>
<div>
  <h2><span>Pregnant Working Woman</span></h2>
</div>
<div class="blog_text">
  <p>Stress on the job can sap the energy you need to care for yourself and your baby. To minimize workplace stress:
  </p>
  <ul>
    <li>
      Take control. Make daily to-do lists and prioritize your tasks.
      Consider what you can delegate to someone else — or eliminate.
    </li>
    <li>Talk it out. Share frustrations with a supportive co-worker, friend or loved one.
    </li>
    <li>Relax. Practice relaxation techniques, such as breathing slowly or 
      imagining yourself in a calm place. Or try a prenatal yoga class, as long as y
      our health care provider says it's OK.
    </li>
  </ul>
</div>
<div>
  <h2><span>Pregnancy Don'ts</span></h2>
</div>
<div class="blog_text">
  <ul>
    <li>Do not lie down after eating</li>
    <li>Do not skip meals</li>
    <li>Do not cook or eat excess spicy food</li>
  </ul>
</div>
<div>
  <h2><span>Travel During Pregnancy</span></h2>
</div>
<div class="blog_text">
  <p>As long as there are no identified complications or concerns with your pregnancy,
    it is generally safe to travel at all times during your pregnancy.
  </p>
  <p>Whether you are going by car, bus, or train, it is generally safe to travel while
    are pregnant</p>
  <p>Traveling by air is considered safe for women while they are pregnant; however,
    the following ideas might make your trip safer and more comfortable.</p>
  <ul>
    <li>
      Most airlines allow pregnant women to travel through their eighth month. Traveling during
      the ninth month is usually allowed if there is permission from your health care provider.
    </li>
    <li>Choose an aisle seat which will allow you to get up more easily to reach the restroom</li>
    <li>avoid smaller private planes. If you must ride in smaller planes, avoid
      altitudes above 7,000 feet.</li>
  </ul>
</div>