<%= image_tag("home.jpg", :style=>"margin-left:-20px;margin-right:-20px;margin-top:-20px;") -%>
<div id="left_column680">
  <div class="laproscopy_box" style="float:right; margin-left:10px;">
    <%= image_tag("laparoscopy/home.jpg",:style=>"width:190px;height:185px;") -%>
    <div></div>
  </div>
  <!--end fancy border-->
  <div class="home_wrap home_has_thumb" style="margin-bottom:20px;">
    <h1 style="font-size:27px !important;">
      <span><a href="/laparoscopy/index">Laparoscopic Surgery</a></span>
    </h1>
    <div class="intro_box">
      <p><b>Laparoscopic surgery</b> is also called <b>minimally invasive surgery, keyhole surgery or bandaid surgery</b>.</p>
      <p>Its an operation performed in the abdomen or pelvis through small incisions which is usually 0.5–1.5 cm length with the help of a camera. </p>
      <p> Compared to traditional open surgeries, we perform most of the intestinal surgeries using the laparoscopic technique</p>
    </div>
    <div class="blog_footer">
      <a class="button_small" href="/laparoscopy/index">More</a>
    </div>
  </div>
  <!--start blog-->
  <div class="blog">
    <h2> <span><a href="/home/week_by_week">Poppy seed to pumpkin: How big is your baby?</a></span> </h2>
    <div class="blog_summary">
      <div class="blog_thumb">
        <div class="thumb_thumb_decoration"></div>
        <%= image_tag("baby_week.jpg",:style=>"width:146px;height:146px;") -%>
      </div>
      <div class="blog_text">
        <div class="date_flag"> <span class="day">Each</span> <span class="month">week in</span> <span class="year">womb</span> </div>
        <p>
          Find out how big your baby is at each week during your pregnancy.<br/>
          Your little one is at the beginning of her long and exciting journey of growth and development.
          Curious about just how big your baby is today?<br/>
          Really, how big is that little miracle?<br/> The size of a lentil? A lime? A pineapple?????<br/>
          Track baby's ever-changing size .
        </p></div>
    </div>
    <div class="blog_footer">
      <a href="/home/week_by_week" class="button_small">More</a></div>
  </div>
  <!--end blog-->
  <!--start blog-->
  <div class="blog">
    <h2> <span><a href="#">Article two......write it here</a></span> </h2>
    <div class="blog_summary">
      <div class="blog_thumb">
        <div class="thumb_thumb_decoration"></div>
        <img src="blog_thumb2.jpg" alt="thumb"></img> </div>
      <div class="blog_text">
        <div class="date_flag"> <span class="day">11th</span> <span class="month">Oct</span> <span class="year">2011</span> </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing  elit. Nunc vitae lectus ante, a convallis elit. Integer non tellus purus, at semper lectus. Cras cursus dolor at metus vestibulum adipiscing. Integer eget quam lectus. Maecenas pharetra nisl vel nulla molestie facilisis. In hac habitasse platea dictumst. Nunc vitae lectus ante, a convallis naghsga elit. Integer non tellus purus, glowing  at semper lectus.  Nunc vitae lectus ante, a convallis elit. Integer non tellus purus, kitasant at semper lectus. </p>
      </div>
    </div>
    <div class="blog_footer">
      <a href="#" class="button_small">More</a></div>
  </div>
  <!--end blog-->
  <!--blog nav buttons-->
  <div class="blog_buttons"> ‹ Prev </div>
  <!--end blog nav buttons-->
</div>
<!--end left_column680-->
<div id="right_column223">
  <div class="side_box">
    <div class="title_bar">We Take Care !</div>
    <div class="content">
      <div id="pregnancy_counter">
        <%= image_tag("logo.jpg",:style => "height:158px;") -%>
      </div>
    </div>
  </div>
  <!--end side box 1-->
  <!--start slideshow-->
  <div class="side_box">
    <div class="title_bar">My Baby Bump</div>
    <div class="content">
      <div class="sidebar_slideshow" style="position: relative;">
        <div style="position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 0; display: none;">
          <div>10 weeks</div>
          <img src="bump1.jpg" width="223" height="184" alt="10 weeks"> </img></div>
        <div style="position: absolute; top: 0px; left: 0px; z-index: 2; display: none; opacity: 0;">
          <div>20 weeks</div>
          <img src="bump2.jpg" width="223" height="184" alt="10 weeks"> </img></div>
        <div style="position: absolute; top: 0px; left: 0px; z-index: 1; display: block; opacity: 1;">
          <div>30 weeks</div>
          <img src="bump3.jpg" width="223" height="184" alt="10 weeks"></img> </div>
      </div>
    </div>
  </div>
  <!--end slide show-->
  <!--start button-->
  Review 
  <!--end button-->
  <!--start link list-->
  <div class="side_box">
    <div class="title_bar">Top Posts</div>
    <div class="content">
      <ul></ul>
    </div>
  </div>
  <!--end link list-->
</div>
<div class="clear"></div>

<!--end right_column223-->

<!--mades footer stick to the bottom of the design-->
<!--end content_bg-->