@charset "utf-8";
/* CSS Document */
/**
  * The header logo.
  * Change the width and height of this to fit your new logo
  * Change the path to your logo PNG file if needed
  */
#logo a {
	width:297px;
	height:98px;
	text-indent:-9999px;
	overflow:hidden;
	display:inline-block;
	background:url(../images/logo.png) no-repeat;
	position:absolute;
	margin:158px 0 0 86px;
}
#logo_small a {
	width:249px;
	height:69px;
	text-indent:-9999px;
	overflow:hidden;
	display:inline-block;
	background:url(../images/logo2.png) no-repeat;
	position:absolute;
	margin:94px 0 0 86px;
}
body {
	background-color:#cdde84;
	color:#473009;
	background-image:asset-data-url("back-line.jpg");
	background-repeat:repeat;
	//font-family: 'Delius', cursive;
        font-family: "PT Sans",sans-serif;
        font-size:14px;
}
a, a:link, a:visited {
	color:#677205;
}
a:hover {
	color:#9a7138;
}
a img, a:link img, a:visited {
	border:none;
}
#wrapper {
	width:980px;
	margin:30px auto 40px auto;
}
#header {
	height:458px;
	width:980px;
	margin:0px auto;
	background-color:#eefab9;
	z-index:10;
}
#header_small {
	height:275px;
	width:980px;
	margin:0px auto;
	background:url(../images/header_bg_small.png) no-repeat top left;
	background-color:#eefab9;
	z-index:10;
}
/*menu*/
#menu { /*the container that holds the main menu*/
	height:48px;
	width:941px;
	padding:0px;
	margin:-23px 0 0 20px;
	background:asset-data-url("breadcrum1.png") top left no-repeat;
	z-index:99;
	position:absolute;
}
ul#navigation {
	margin:0px 0 0 30px; /*indent to line up with the logo*/
	padding:0px;
	float:left;
	position:absolute;  /*makes dropdown sit on top of flash & map*//*z-index:100; /*makes dropdown sit on top of flash & map*/
}
ul#navigation li {
	float:left;
	list-style:none;
	display:inline;
	padding:0px;
	margin:0px;
}
ul#navigation a {
	float:left; /*makes the text sit beside each other not down the page*/
	color:#493215; /*menu color normal*/
	padding:13px 13px 5px 13px; /*space around and inbetween the buttons, top, right, bottom, left*/
	text-decoration:none; /*no underline*/
	font:18px 'Delius Swash Caps', cursive; /*menu text size and font*/
	border-right:1px solid #eac257;
	text-shadow: 1px 1px #fce5a7; /*adds drowshadow effect in all browsers except IE.*/
}
ul#navigation li.hover a, ul#navigation li:hover a, ul#navigation a.active, ul#navigation a:hover {
	color:#906113; /*color of text on mouse over*/
}
/*--drop down menu second-menu - this is optional--*/
ul#navigation li.hover, ul#navigation li:hover {
	position:relative;
}
ul#navigation li.hover ul.second-menu, ul#navigation li:hover ul.second-menu {
	display:block;
}
ul#navigation li.hover ul.second-menu ul.third-level, ul#navigation li:hover ul.second-menu ul.third-level {
	display:none;
}
ul#navigation ul.second-menu {
	position:absolute;
	top:40px; /*how far away from the top menu*/
	left:0;
	margin:0;
	padding:5px;
	width:200px;
	display:none;
	background-color:#EBF79B;
}
ul#navigation ul.second-menu li {
	width:200px;
	margin:0;
}
ul#navigation ul.second-menu a {
	display:block;
	float:none;
	width:180px;
	border:none;
	padding:10px 10px;
	background:none;
	font-size:16px; /*font size */
	line-height:14px;
	color:#493215;
	border-bottom:1px solid #eac257;
	text-transform:none; /*turns off the uppercase*/
}
ul#navigation ul.second-menu li.hover a, ul#navigation ul.second-menu li:hover a, ul#navigation ul.second-menu a:hover {
	color:#906113;
	background-color:#eac257;
}
/*main content*/

#content_bg {
	background-color:#FAFFF5;/*overflow:auto;*//*sticky footer*//*padding-bottom: 188px; /*sticky footer*/
	padding:20px 20px 40px 20px;
	min-height:300px;
	line-height:1.5em;
}
#left_column680 {
	width:680px;
	float:left;
}
#right_column223 {
	width:223px;
	float:right;
}
/*side bar*/

.side_box {
	width:223px;
	margin-bottom:30px;
}
.side_box .title_bar {
	height:51px;
	width:223px;
	text-align:center;
	background:asset-data-url("side-button.png") top left no-repeat;
	font-size:24px;
	color:#677205;
	font-family: 'Dancing Script', cursive;
	//position:absolute;
	z-index:80;
	text-shadow: 1px 1px #f7fae1;
	line-height:normal;
}
.side_box .content {
	z-index:79;
	//padding-top:37px;
}
.side_box .content ul {
	margin:15px 0 0 0;
	padding:0px;
	list-style:none;
	font-size:12px;
}
.side_box .content ul li {
	margin:0px;
	padding:4px 0;
	line-height:normal;
	border-bottom:1px solid #e1ea8c;
	overflow: hidden
}
.side_box .content ul li a img {
	float: left;
	margin-right: 10px;
}
.side_box .content ul li del {
	font-size: 11px;
	color:#AAA;
}
.side_box .content ul li ins {
	text-decoration: none;
}
.side_box .block_links ul li a {
	display: block;
}
.side_box .content ul li a, .side_box .content ul li a:link, .side_box .content ul li a:visited {
	text-decoration:none;
	color:#473009;
}
.side_box .content ul li a:hover {
	color:#9a7138;
}
/*pregnancy counter*/

#pregnancy_counter {
	height:175px;
}
/* text wrapper inside counter box */
#pregnancy_counter > div {
	width: 142px;
	text-align:center;
	font-family: 'Dancing Script', cursive;
	color:#613c12;
	line-height:normal;
}
#pregnancy_counter .numbers {
	font-size:48px;
	height: 50px;
	padding:20px 0 0 0;
}
#pregnancy_counter .weeks {
	font-size:30px;
	height: 26px;
}
#pregnancy_counter .pregnant {
	font-size:24px;
	height: 45px;
}
#pregnancy_counter .due_date {
	font-size:12px;
	font-family: 'Delius Swash Caps', cursive;
}
.sidebar_slideshow {
	overflow:hidden;
	width:223px;
	height:184px;
}
.sidebar_slideshow div {
	position: absolute;
	width:223px;
	height:184px;
}
.sidebar_slideshow div div {
	position: absolute;
	width:80px;
	height:20px;
	background:url(../images/white_transparent.png) repeat;
	margin: 154px 0 0 0;
	text-align: center;
	padding: 5px 0 5px 0;
}
#sidebar_image_button {
	width:223px;
	height:85px;/*113px*/
	background:url(../images/side_review.jpg) no-repeat left top;
	text-align:center;
	padding:31px 0 0 0;
	display:inline-block;
	font-size:24px;
	color:#906113;
	font-family: 'Dancing Script', cursive;
	line-height:24px;
	margin-bottom:30px;
}
a#sidebar_image_button, a:link#sidebar_image_button, a:visited#sidebar_image_button {
	color:#906113;
	text-decoration:none;
}
/*shipping*/


#sidebar_image_shipping {
	width:223px;
	height:113px;/*113px*/
	background:url(../images/side_shipping.jpg) no-repeat left top;
	text-align:center;
	padding:0px 0 0 0;
	display:inline-block;
	font-size:30px;
	color:#906113;
	font-family: 'Dancing Script', cursive;
	margin-bottom:30px;
}
#sidebar_image_shipping .title {
	width:100px;
	float:left;
	margin:17px 0 0 10px;
	line-height:28px;display:block;
}
#sidebar_image_shipping .sub {
	clear:both;
	text-transform:uppercase;
	font-family: 'Delius', cursive;
	font-size:15px;
	height:30px;
	width:223px;
	padding:15px 0 0 10px;
	text-align:left;
	display:block;
}
a#sidebar_image_shipping, a:link#sidebar_image_shipping, a:visited#sidebar_image_shipping {
	color:#906113;
	text-decoration:none;
}
/*footer*/

#footer { /*the container that holds the main menu*/
	height:48px;
	width:941px;
	padding:0px;
	margin:-23px 0 0 20px;
	//background:asset-data-url("breadcrum1.png") top left no-repeat;
	z-index:101;
	position:absolute;
	font-family: 'Delius Swash Caps', cursive;
	font-size:12px;
	color:#473009;
}
#footer .right {
	float:right;
	text-align:right;
	padding:17px 0 0 0;
	margin-right:40px;
}
#footer .left {
	float:left;
	padding:17px 0 0 0;
	margin-left:40px;
	text-shadow: 1px 1px #fce5a7;
}
#footer a, #footer a:link, #footer a:visited {
	color:#473009;
	text-decoration:none;
	text-shadow: 1px 1px #fce5a7;
}
#footer a:hover {
	text-decoration:underline;
}
#footer .right ul {
	margin:0px;
	padding:0px;
}
#footer .right ul li {
	list-style:none;
	float:right;
	margin: 0 3px;
	padding: 0 8px 0 0;
	border-right:#eac257 1px solid;
}
/*general*/

.clear {
	margin:0px;
	padding:0;
	line-height:0;
	border:0;
	clear:both;
	visibility:hidden;
}
.delius {
	font-family: 'Delius Swash Caps', cursive;
}
.dancing {
	font-family: 'Dancing Script', cursive;
}
h1 {
	font-family: 'Dancing Script', cursive;
	font-size:30px;
	margin: 0 0 18px 0;
	padding: 0;
	font-weight:normal;
}
/*home page*/
h1 span {
	display:inline-block;
	float:left;
	padding:0px 3px;
	font-weight:normal;
	margin:0px;
	line-height:normal;
}
h2 {
	margin:0;
	padding: 20px 0;
	//font-family: 'Dancing Script', cursive;
        font-family: "PT Sans",sans-serif;

}
.intro_box {
	padding:0;
	text-align:center;
}
.intro_box p {
	padding:0px;
}
.fancy_picture_box {
	width:225px;
	height:214px;
}
.fancy_picture_box > img {
	position:absolute;
	z-index:50; /* so it sits under our fancy border */
}
.laproscopy_box > div {
	width:225px;
	height:214px;
	position:absolute;
	z-index:51; /* so it sits above the image above */
}
.home_wrap {
	text-align: center;
}
.home_wrap h1 {
	display: inline-block;
	margin: 5px auto 0 auto;
	line-height:normal;
}
.home_wrap .intro_box {
	clear:left;
}
.home_wrap.home_has_thumb {
	margin-right: 229px;
}

.blog {
	width:100%;
	min-height:260px;
	padding-bottom:20px;
}
.blog h2 {
	margin:0;
	padding:0;
	font-weight:normal;
	height:39px;
	background:asset-data-url("title.gif") repeat top left;
	line-height:normal;
}
.blog h2 span {
	background:url("heading_banner.gif") no-repeat left top;
	font-size:24px;
	color:#613c12;
	font-family: 'Dancing Script', cursive;
	padding:2px 5px 0 38px;
	height:39px;
	display:inline-block;
}
.blog h2 span a, .blog h2 span a:link, .blog h2 span a:visited {
	color:#613c12;
	text-decoration:none;
	text-shadow: 1px 1px #fff;
}
.blog h2 span a:hover {
	color:#906113;
}
.blog_summary {
	margin-top:20px;
	min-height:150px;
}
.blog_summary .blog_thumb {
	width: 146px;
	position:absolute;
	margin-left:3px;
}
.blog_thumb .thumb_thumb_decoration {
	position:absolute;
	width:138px;
	height:138px;
	border:1px solid #FFF;
	margin-left:3px;
	opacity:0.5;
	margin-top:3px;
}
.blog_summary .blog_text {
	padding-left:166px;
}
.blog_text p {
	margin:0 0 10px 0;
	padding:0;
}
.blog .date_flag {
	width:76px;
	height:74px;
	background:asset-data-url("date.png") no-repeat top right;
	float:right;
	margin-right:20px;
	text-align:center;
	color:#FFF;
	text-shadow: 1px 1px #4b3719;
}
.blog .date_flag span {
	display:block;
	width:76px;
}
.blog .date_flag span.day {
	font-size:18px;
	height:20px;
	margin-top:5px;
}
.blog .date_flag span.month {
	font-size:13px;
	height:16px;
}
.blog .date_flag span.year {
	font-size:13px;
	height:16px;
}
.blog_text .date_flag {
	margin-top:-62px;
}
.blog_footer {
	clear:both;
	margin-top:15px;
	border-top:1px solid #e7e2af;
	border-bottom:1px solid #e7e2af;
	height:30px;
	padding:0px 0 0 0;
	font-size:12px;
	line-height:normal;
}
.blog_footer ul {
	list-style:none;
	margin:7px 0 0 0;
	padding:0;
	color:#b5a061;
	width:560px;
	float:left;
}
.blog_footer ul li {
	list-style:none;
	margin:0;
	padding:0 10px 0 0;
	float:left;
}
.blog_footer a, .blog_footer a:link, .blog_footer a:visited {
	color:#b5a061;
	text-decoration:none;
}
.blog_footer a:hover {
	text-decoration:underline;
}
.button_small {
	width:76px;
	height:23px;
	background:asset-data-url("big-button.png") no-repeat left top;
	font-size:14px;
	color:#613c12;
	display:inline-block;
	padding:3px 0 0 0;
	text-align:center;
	line-height:normal;
}
a.button_small, a:link.button_small, a:visited.button_small {
	color:#613c12
}
a:hover.button_small {
	text-decoration:none;
	background:url(../images/button_pattern_small2.png) no-repeat left top;
}
.blog_footer .button_small {
	float:right;
	margin:3px 20px 0px 0;
}
.blog_buttons {
	height:45px;
	margin:0 0 20px 0;
}
.button_medium {
	width:128px;
	height:31px;/*45px*/
	background:url(../images/button_medium.png) no-repeat left top;
	font-size:18px;
	color:#613c12;
	display:inline-block;
	padding:14px 0 0 0;
	text-align:center;
}
a.button_medium, a:link.button_medium, a:visited.button_medium {
	color:#613c12;
	text-decoration:none;
}
a:hover.button_medium {
	text-decoration:none;
	background:url(../images/button_medium2.png) no-repeat left top;
}
/*full blog post*/

.blog_text_full .date_flag {
	margin-top:-62px;
}
.image_right {
	float:right;
	margin:0 0px 20px 20px;
}
.image_left {
	float:left;
	margin:0 20px 20px 0;
}
blockquote {
	background: url(../images/quote.png) no-repeat scroll left top transparent;
	margin: 0 0 10px;
	min-height: 50px;
	padding-left: 60px;
	width: 90%;
}
.blog_summary li {
	list-style-image:url(../images/dot.png);
}
/*Contact*/

/*form*/

#contact_form {
	margin-top:20px;
	clear:both;
}
#contact_form label {
	float: left;
	width:100px;
	font-weight: bold;
	clear:left;
	padding:10px 0 0 0;
}
#contact_form input, #contact_form textarea {
	width: 310px;
	margin-bottom: 20px;
	float:left;
	background-color:#f8ffda;
	border:1px solid #e6ed9d;
	padding:10px;
	font-family:inherit;
	font-size:inherit;
}
#contact_form textarea {
	width: 540px;
	height: 112px;
}
#contact_form .boxes {
	width: 1em;
}
#contact_form #submitbutton {
	margin:0 0 30px 100px;
	width: 100px;
	height:31px;
	background:url(../images/button_green_tall.png) no-repeat left top;
	border:none;
	color:#613c12;
	font-family: 'Delius Swash Caps', cursive;
	font-size:14px;
	padding:0px;
	font-weight:bold;
}
/*map*/

.googlemap {
	width:100%;
	height:350px;
	margin:0 0 20px 0;
	clear:both;
	border:1px solid #e8e3b3;
}
ul.map_buttons {
	margin:0px;
	padding:0px;
}
ul.map_buttons li {
	width:100px;/*154px*/
	height:30px;
	text-align:center;
	border:none;
	margin:0 0 0 0;
	padding:1px 0 0 0;
	font-size:14px;
	line-height:normal;
	float:right;
	list-style:none;
	background:url(../images/button_med_brown.png) no-repeat top left;
	display:inline-block;
}
ul.map_buttons li a {
	text-decoration:none;
}
.map_input {
	border:none !important;
	padding:3px;
}
#go_button {
	width:156px;
	height:46px;
	padding:0px 0 10px 0;
	border:none;
	font-size:16px;
	line-height:normal;
	clear:right;
}
/*ribbon title*/

.ribbon_title {
	width:100%;
	height:40px;
	padding-bottom:20px;
}
.ribbon_title h2 {
	margin:0;
	padding:0;
	font-weight:normal;
	height:39px;
	background:url(../images/title.gif) repeat top left;
	line-height:normal;
}
.ribbon_title h2 span {
	background:url(../images/heading_banner.gif) no-repeat left top;
	font-size:24px;
	color:#613c12;
	font-family: 'Dancing Script', cursive;
	padding:2px 5px 0 38px;
	height:39px;
	display:inline-block;
}
.ribbon_title h2 span a, .ribbon_title h2 span a:link, .ribbon_title h2 span a:visited {
	color:#613c12;
	text-decoration:none;
	text-shadow: 1px 1px #fff;
}
.ribbon_title h2 span a:hover {
	color:#906113;
}
/*social*/

ul#social {
	list-style:none;
	margin:0px;
	padding:22px 0 0 0;
	height:40px;
}
ul#social li {
	float:left;
	width:32px;
	padding:0 6px 0 6px !important;
	border:0 !important;
}
/*fancy box medium*/

.fancy_picture_box_med {
	width:380px;
	height:265px;
}
.fancy_picture_box_med > img {
	position:absolute;
	z-index:50; /* so it sits under our fancy border */
}
.fancy_picture_box_med > div {
	background:url(../images/fancy_border_med.png) no-repeat;
	width:380px;
	height:265px;
	position:absolute;
	z-index:51; /* so it sits above the image above */
}
/** shop **/

.category {
	width:170px;
	float:left;
	padding:3px 0 0 0;
}
ul.shop_categories li {
	padding:1px 0 !important;
}
.number {
	background:url(../images/number.png) no-repeat top left;
	width:27px;
	height:19px;/*22px*/
	float:right;
	text-align:center;
	padding:3px 0 0 0;
}
ul.cart_list li a span {
	font-size:14px;
	color:#677205;
	font-weight:bold;
}
ul.cart_list li span {
	font-size:14px;
	color:#613c12;
}
ul.cart_list li img {
	float:right !important;
	margin:0px !important;
}
.block_links ul li a span {
	font-size:14px;
	color:#677205;
	font-weight:bold;
}
.block_links ul li span {
	font-size:14px;
	color:#613c12;
}
.shop_image_decal {
	position: absolute;
	width:140px;
	height:140px;
	border:1px solid #FFF;
	opacity:0.5;
	margin: 5px 0 0 5px;
	display: block;
}
.shop_image_decal_300 {
	position: absolute;
	width:288px;
	height:288px;
	border:1px solid #FFF;
	opacity:0.5;
	margin: 5px 0 0 5px;
	display: block;
}
.shop_breadcrumb {
	margin:0 0 20px 0;
	padding:0;
	font-weight:normal;
	height:39px;
	background:asset-data-url("title.gif") repeat top left;
	clear:both;
}
.shop_breadcrumb div {
	background:url(../images/heading_banner.gif) no-repeat left top;
	font-size:24px;
	color:#613c12;
	font-family: 'Dancing Script', cursive;
	padding:2px 5px 0 38px;
	height:39px;
	line-height:normal;
}
.shop_breadcrumb a, .shop_breadcrumb a:link, .shop_breadcrumb a:visited {
	color:#613c12;
	text-decoration:none;
	text-shadow: 1px 1px #fff;
}
.shop_breadcrumb a:hover {
	color:#906113;
}
span.onsale {
	background: green;
	color: #fff;
	padding: 4px;
	font-size: 12px;
	position: absolute;
	text-align: center;
	line-height: 32px;
	top: 0;
	background:url(../images/sale_flag.png) no-repeat center !important;
	width:49px;
	height:34px;
	text-indent: -999px;
	overflow: hidden;
	margin:-3px -1px 0 94px;
	right: auto;
}
.products ul, ul.products {
	margin: 0 0 14px;
	padding: 0;
	list-style: none;
	float: left;
}
.products {
	clear: both;
}
.products li {
	float: left;
	margin: 0 10px 20px 0;
	padding: 0;
	position: relative;
	width: 150px;
}
.products li .onsale {
	top: 0;
	right: 0;
	left: auto;
	margin: -4px -1px 0 0;
}
.products li a {
	text-decoration: none;
}
.products li a img {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 0 8px;
}
.products li a:hover img {
}
.products li strong {
	color: #473009;
	display: block;
}
.products li .price {
	color: green;
	display: block;
	font-weight: normal;
	float: right;
	text-align: right;
}
.products li .price del {
	font-size: 10px;
	line-height: 10px;
	margin: -2px 0 0 0;
	display: block;
	color: #ccc;
}
.products li .price .from {
	font-size: 10px;
	line-height: 10px;
	margin: -2px 0 0 0;
	display: block;
	color: #ccc;
}
.products li.first {
	clear: both;
}
.products li.last {
	margin-right: 0;
}
/** end products **/


.products li .price2 {
	color: #473009;
	background:url(../images/white_transparent.png) repeat;
	margin:-37px 0 0 6px;
	height: 20px;
	position: absolute;
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 6px 2px 4px
}
.products li .price2 del {
	display: inline;
	font-size: 10px;
	line-height: 10px;
	margin: -2px 0 0 0;
}
.products li .price2 ins {
	text-decoration: none;
}
.products li strong {
	text-align: center;
}
.products li .add_to_cart {
	text-align: center;
}
.products li .add_to_cart a.button {
	margin: 4px auto;
}
.quantity {
	height:40px;
}
.quantity .button {
	float:left;
}
.quantity input.cart_quantity {
	border: 1px solid #CCC;
	background: white;
	height: 18px;
	padding: 2px;
	text-align: center;
	width: 37px;
	float: left;
	margin: 0 20px 0 0;
}
.total {
	text-align: center;
	border-bottom: 1px solid #E1EA8C;
	padding: 5px 0 5px 0;
	color:#677205;
}
.buttons {
	height: 30px;
}
a.button {
	float: none;
	background: url(../images/button_med_green.png) no-repeat;
	width: 100px;
	height: 23px;
	display: block;
	text-align: center;
	padding: 5px 0 0 0;
	color: #613c12;
	line-height: 1em;
	font-size: 13px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	font-family: inherit;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
a.button.brown {
	background: url(../images/button_med_brown.png) no-repeat;
}
.products li {
	margin-right: 25px !important;
}
.related .products li {
	margin-right: 43px !important;
}
.related h2 {
	font-size:30px;
}
ul.products {
	margin-right: -29px !important;
}
div.product div.images {
	float: left;
	width: 314px;
	margin-bottom: 10px;
}
div.product div.summary {
	float: none !important;
	width: auto !important;
	margin-left: 336px !important;
}
div.product div.summary_wrap {
	min-height: 250px;
}
div.product div.summary div.product_meta {
	clear: none;
}
div.product p.price {
	/*margin: -48px 10px 0 0;*/
    float: right;
	background: url(../images/price_tag.png) no-repeat right;
	width: 125px;
	height: 31px;/*38*/
	padding: 7px 15px 0 0;
	text-align: center;
	margin: 0px 0 1px 0;
	font-size: 1.4em;
	color:#613C12;
	font-family: 'Dancing Script', cursive;
}
div.product h1.product_title {
	float:left;
	margin-bottom: 0;
	padding:3px 0 0 0;
	width:400px;
}
div.product p.price ins {
	text-decoration: none;
}
div.product div.summary div.product_meta {
	clear: right;
}
div.product div.summary div.social {
	background: #f4f0d7;
	padding: 5px 10px;
	margin: 10px 0 0 0;
	min-height: 30px;
}
div.social ul#social {
	height:30px;
	padding:0;
	margin:0;
	float: right;
}
/*gallery*/

ul.gallery {
	list-style:none;
	margin:0px;
	padding:0px;
}
.gallery li {
	margin:0px 10px 20px 10px;
	padding:0px;
	float:left;
	width:290px;
	min-height:193px;
}
.gallery_thumb {
	width: 290px;
/*	position:absolute;*/
	margin-left:3px;
}
.gallery_thumb_decoration {
	position:absolute;
	width:282px;
	height:186px;
	border:1px solid #FFF;
	margin-left:3px;
	opacity:0.5;
	margin-top:3px;
	display:block;
}
.search_form {
	padding:17px 0 0 0;
	margin: 0;
	height: 36px;
	width: 223px;
}
.search_box {
	padding: 4px;
	height:20px;
	border: 1px solid #e1ea8c;
	width: 160px;
	color:#613c12;
}
.search_button {
	background: #e1ea8c;
	border: none;
	width:35px;
	color: #677205;
	padding: 4px;
	height:30px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 18px;
}
#week_count > img
{padding-left:25px;}

#facultyBody li
{margin: 0 20px 20px 0;}
