<div class="blog" style="min-height: 0px;"><h2><span>Giving birth by cesarean section</span></h2></div>
<img id="img1" alt="Prenatal Checkups" src="<%=asset_path('pregnancy/caesarean.jpg')-%>"
     class="caesareanImg"></img>
<br/><br/>
<div>
  <h2><span>What is a cesarean section?</span></h2>
</div>
<div class="blog_text">
  <p>cesarean section, or c-section, is the delivery of a baby through
    a surgical incision in the mother's abdomen and uterus.</p>
</div>
<div>
  <h2><span>Planned c-section</span></h2>
</div>
<div class="blog_text">
  <p>Sometimes it's clear that a woman will need a cesarean even before she goes into labor.
    For example, you may require a planned c-section if:</p>
  <ul>
    <li>Previous cesarean with vertical incision</li>
    <li>Previous <%= link_to 'Myomectomy', laparoscopy_myomectomy_path %></li>
    <li>Sometimes when you are having twins </li>
    <li>When your baby is very large and healthy than ordinary</li>
    <li>When your baby's position is wrong</li>
  </ul>
</div>
<div>
  <h2><span>Unplanned cesarean</span></h2>
</div>
<div class="blog_text">
  <p>You may need to have a c-section if problems arise such as</p>
  <ul>
    <li>When doctor feel that your baby's heart rate is abnormal</li>
    <li>When your baby stops moving down to birth canal</li>
    <li>In a condition when your baby won't get enough oxygen unless you are delivered right away.</li>
    <li>When doctor found some other complicated health issues with you or your baby</li>
  </ul>
</div>
<div>
  <h2><span>Recovery after a cesarean birth</span></h2>
</div>
<div class="blog_text">
  <p>A cesarean is major surgery, and it will hurt afterwards. You may feel you
    can't do anything on your own. Even small movements, such as shifting up
    the bed, may require something or someone to hold on to. It will hurt to cough or laugh,
    but supporting your wound with your hands, or holding a pillow over your tummy, will help.
</p>
</div>
<div>
  <h2><span>Breastfeeding after a cesarean birth</span></h2>
</div>
<div class="blog_text">
  <p>If you plan to breastfeed, you can start in our recovery room right after surgery.
    Ask our nurse to show you how to hold a baby, so there won't be pressure on your incision.
</p>
</div>
