<div class="blog" style="min-height: 0px;"><h2><span>Contraception Care</span></h2></div>
<div>
  <h2><span>Contraception after having a baby</span></h2>
</div>
<div class="blog_text">
  <ul>
    <li>Contraception should be discussed soon after giving birth.
      Until your baby is 21 days old you cannot become pregnant.
      After that you will need contraception. There are many choices available for women. </li>
    <li>If you feel your family might be complete, long-acting methods or
      sterilization should be discussed. </li>
    <li>If you want to have more children, choose an option that is easily stopped
      so your body can return to normal</li>
  </ul>
</div>
<div>
  <h2><span>Where can I get contraception from?</span></h2>
</div>
<div class="blog_text">
  <ul>
    <li>If you had your baby in hospital, you might have discussed contraception with
      our doctors before you were discharged home.</li>
    <li>You will also be asked about contraception at your six-week
      (or eight-week) postnatal check.</li>
    <li>You can discuss it at any time with our doctors.</li>
  </ul>
</div>
<div>
  <h2><span>Breast-feeding and contraception</span></h2>
</div>
<div class="blog_text">
  <p>When you breast-feed, a hormone called prolactin is produced by your body,
    which stimulates the production of your milk.
    Prolactin also blocks the release of the hormones which make you produce an egg.
    This means that you are less likely to become pregnant whilst you are breast-feeding.
  </p>
  <p>Breast feeding as a form of contraception  will only work for you if:
  <ul><li>your baby is younger than six months old</li>
    <li>your periods have not returned</li>
    <li>you are exclusively breastfeeding your baby on demand, night and day</li>
  </ul>
</p>
</div>
<div>
  <h2><span>You need to think about:</span></h2>
</div>
<div class="blog_text">
  <p>When you choose a method of contraception you need to think about:</p>
  <ul>
    <li>How effective it is.</li>
    <li>Possible risks and side-effects.</li>
    <li>Plans for future pregnancies.</li>
    <li>Personal preference.</li>
    <li>Whether or not you are breast-feeding.</li>
    <li>If you have a medical condition, or take medicines that interact with the method.</li>
  </ul>
</div>
<br/><br/>
<div class="blog_text">
  <strong><p>DISCLAIMER: DO NOT ATTEMPT ANY OF THESE CONTRACEPTIONS WITHOUT APPROVAL
      FROM GYN OR DOCTOR.</p></strong>
</div>