<div class="blog" style="min-height: 0px;"><h2><span>Exercises to Help You Prepare for Childbirth</span></h2></div>
<div>
  <h2><span>To help with labor</span></h2>
</div>
<div class="blog_text">
  <p>Did you know that you can do <%= link_to 'Prenatal', pregnancy_prenatal_path %> exercises to help your body and
    baby be in optimal shape for a quicker, easier <%= link_to 'Natural Child Birth', pregnancy_natural_birth_path %>?</p>
  <p>
    No one - not even your mother — can reliably predict how your labor will progress.
    Fortunately, there are a few exercises you can do now to help prepare your body
    for what's to come. Here are some
  </p>
  <ul>
    <li><strong>Walking</strong></li>
    <p>Aim for at least 30 minutes a day.</p>
    <p>Yes, simple walking can help keep your body in balance. You may get
      fresh air and blessing of natural surroundings</p>
    <li><strong>Proper sitting</strong></li>
    <p>While some may argue that this is not exactly “exercise,” We doctors would disagree.
      When you’re carrying around 20 pounds of extra weight, please practice proper sitting</p>
    <li><strong>Leaning Forward</strong></li>
    <li><strong>Optimal Sleeping Position</strong></li>
    <p>
      Once you hit 20 weeks, we doctors will dissuade you from sleeping on your back
      because it can cause problems with backaches, breathing, digestive system,
      hemorrhoids, low blood pressure and decrease circulation to your heart and your baby.
    </p>
    <p>Sleeping on our left side is most optimal because it may in the amount of blood and nutrients that reach to your baby.</p>
  </ul>
  <p><strong>Please refer to our doctors for other details and more exercises
      which suits you and your baby.</strong></p>
</div>

<div class="blog" style="min-height: 0px;"><h2><span>Exercises After having a baby</span></h2></div>
<div>
  <h2><span>Regular exercise after delivery:</span></h2>
</div>
<div class="blog_text">
  <p>Exercise might be the last thing on your mind after you give birth, but
    it's worthwhile. In fact, exercise after pregnancy might be one of the
    best things you can do for yourself.</p>
  <p>It can:</p>
  <ul>
    <li>Boost your energy level</li>
    <li>Improve your mood</li>
    <li>Relieve stress</li>
    <li>Help for weight loss</li>
    <li>Improve your fitness</li>
    <li>Restore muscle strength and tone</li>
    <li>Condition your abdominal muscles</li>
  </ul>
</div>
<div>
  <h2><span>When to start?</span></h2>
</div>
<div class="blog_text">
  <p>In old days doctors often instructed women to wait at least six weeks after giving birth
    to begin exercising. The waiting game might be over, however. If you had an
    uncomplicated <%= link_to 'vaginal delivery', pregnancy_natural_birth_path %>, it's generally safe to begin exercising as soon as
    you feel ready.
  </p>
  <p><strong>If you had a <%= link_to 'Cesarean', pregnancy_caesarean_path %> or any other complications, please talk to
    our doctors about when to start these exercises.</strong></p>
</div>
<br/><br/>
<div class="blog_text">
  <strong><p>DISCLAIMER: DO NOT ATTEMPT ANY OF THESE EXERCISES WITHOUT APPROVAL
      FROM GYN OR DOCTOR.</p></strong>
</div>