<div class="blog" style="min-height: 0px;"><h2><span>Infertility Issues and Solutions</span></h2></div>
<div class="blog" style="min-height: 0px;"><h2><span>Prenatal Checkups</span></h2></div>
<img id="img1" alt="Infertility" src="<%= asset_path('pregnancy/infertility.jpg')-%>"
     class="prenatalImg"></img>
<br/><br/>
<div class="blog_text">
  <p>
    If you are trying to have a baby and it is not happening as quickly as you expected,
    you may wonder if you have an infertility issue.
  </p>
  <p>We now offers more answers and treatment options to men and women trying to conceive a child. From hormonal treatments, ovulation induction and Intrauterine insemination to more advanced technologies </p>
</div>
<div>
  <h2><span>What is Infertility?</span></h2>
</div>
<div class="blog_text">
  Infertility is a disease or condition of the reproductive system often diagnosed after a couple has had one year of unprotected, well-timed intercourse, or if the woman has suffered from multiple miscarriages and the woman is under 35 years of age. If the woman is over 35 years old, it is diagnosed after 6 months of unprotected, well-timed intercourse.
</div>
<div>
  <h2><span>Who may suffer ?</span></h2>
</div>
<div class="blog_text">
  Infertility is a medical problem. Approximately 30% of infertility is due to a female factor and 30% is due to a male factor. In the balance of the cases, infertility results from problems in both partners or the cause of the infertility cannot be explained.
</div>
<div>
  <h2><span>Risk Factors</span></h2>
</div>
<div class="blog_text">
  Weight
  Age
  Sexually Transmitted Diseases (STDs)
  Tubal Disease
  Endometriosis
  DES Exposure
  Smoking
  Alcohol
</div>