<div class="blog" style="min-height: 0px;"><h2><span>Natural Child Birth</span></h2></div>
<img id="img1" alt="Prenatal Checkups" src="<%=asset_path('pregnancy/natural_birth.jpg')-%>"
     class="prenatalImg"></img>
<br/><br/>

<div class="blog_text">
  <p>
    We are the only maternity and newborn care hospital which specializes in achieving
    Natural Birth for expecting mothers.
  </p>
  <p><strong>Our Natural Birth rates are approximately 92%, which is the highest across
      any other hospital in this area</strong></p>
</div>
<div>
  <h2><span>We prefer natural birth. Why ?</span></h2>
</div>
<div class="blog_text"><p>
    We recognize that every mother’s needs in labor completely unique to herself
    and her pregnancy. Therefore the support during pregnancy and labor that you
    receive is tailor-made to suit your needs, your concerns and preferences. </p>
  <p>We welcome your husband/partner/family to support you during labor.</p>
  <ul>
    <li><strong>Labor is Often Shorter</strong></li>
    <li><strong>Breastfeeding is Facilitated</strong></li>
    <p>Research shows babies born through natural childbirth are more alert and
      show more interest in breastfeeding once delivered.</p>
    <li><strong>Natural Childbirth is Often Healthier for Mom and Baby</strong></li>
    <li><strong>Easier on Recovery</strong></li>
    <p>Women who planned natural childbirths often feel great for a short while
      after delivering their babies. Because no numbing drugs were used, and
      no tubes or needles were stuck into their body parts, naturally
      moms can get up shortly after labor if they desire, and walk around or take a shower</p>
    <li><strong>Less Risks</strong></li>
    <li><strong>Doctors can have more control </strong></li>
    <li><strong>Greater Connection to the Experience</strong></li>
    <p>Many women report satisfaction with their giving natural birth experience
      when they are alert for their first out-of-womb contact with their baby.
    </p>
    <li><strong>Natural Childbirth is Empowering</strong></li>
    <p>Our mission is to encourage each woman giving birth naturally to make
      informed decisions and to stimulate open, honest discourse to improve 
      outcomes for the families we serve.</p>
  </ul>
</div>
<div>
  <h2><span>Normal delivery after first cesarean</span></h2>
</div>
<div class="blog_text">
  <p>A significant number of our customers choose us because we help mothers have
    a normal delivery after a previous cesarean or a VBAC.
  </p>
  <p><strong>Our VBAC rates are approximately 82%</strong></p>
  <p>Many women who have had a cesarean section (or C-section) with their first
    pregnancy are interested in a vaginal delivery for their second or later births.
    For years, women who'd had a C-section were encouraged to forego normal deliveries
    altogether and schedule C-sections for all future births.</p>
  <p>
    But these days, a normal/vaginal birth after cesarean (or VBAC) is considered
    a safe option for many women and their babies. And, with a vaginal delivery,
    you can come home sooner and recover quicker. The reason for your first C-section,
    the type of incision made on your uterus, and other factors in your medical history
    will determine whether or not you can have a VBAC</p>
</div>
