<div class="blog" style="min-height: 0px;"><h2><span>Newborn Care</span></h2></div>

<div class="blog_text">
  <p>
    You've survived 9 months of pregnancy. You've made it through the
    excitement of labor and delivery, and now you're ready to head home
    and begin life with your baby. Once home, though,
    you frantically realize you have no idea what you're doing!
  </p>
  <p>
    These tips can help even the most nervous first-time parents feel confident
    about caring for a newborn in no time.
  </p>
</div>
<div>
  <h2><span>We Take Care</span></h2>
</div>
<div class="blog_text">
  <p>Rangnath hospital, where mothers and babies are never separated after birth.</p>
  <p>Baby exams are done right next to the mother by default.We encourage early breastfeeding,
    typically within the first hour of birth.</p>
  <p>Our pediatrician also visits your baby to check on baby's health</p>
  <p>
    You will then have follow-up visits at 1 week, 2 weeks and then at 6-weeks. 
    During these visits, we will weigh and measure your baby and other
    parental guideline that you need.
  </p>
  <p>
    This schedule is flexible and and could be adjusted according to your needs.
  </p>
</div>
<div>
  <h2><span>Your Miracle .. Without Instruction Manual </span></h2>
</div>
<div class="blog_text">
  <p>
    You probably have a lot of questions about your newborn – and babies don't come
    with an instruction manual. We take care of your baby’s growing body,
    and gives you parents best tips for caring for a newborn.Such as
  </p>
  <ul>
    <li>How to handle your newborn</li>
    <li>Avoid your baby from infections</li>
    <li>Support your baby's head and neck</li>
    <li>Bathing your newborn</li>
    <li>Breastfeeding guideline</li>
    <li>Bonding after a birth </li>
  </ul>
</div>