<div class="blog" style="min-height: 0px;"><h2><span>Postnatal Care</span></h2></div>
<img id="img1" alt="Prenatal Checkups" src="<%=asset_path('pregnancy/postnatal.jpg')-%>"></img>
<br/><br/>
<div class="blog_text">
  <p>Postnatal period is the period beginning immediately after the birth of a child
    and extending for about six weeks</p>
  <p>It is the time after birth, a time in which the mother's body,
    including hormone levels and uterus size, returns to a non-pregnant state. </p>
</div>
<div>
  <h2><span>Routine postnatal care of women and their babies</span></h2>
</div>
<div class="blog_text">
  <ul>
    <li>A woman giving birth in a hospital may leave the hospital as soon as she is medically stable
      and chooses to leave, which can be as early as a few hours postnatal, though the average
      for a <%= link_to 'Natural Birth', pregnancy_natural_birth_path %> is 1–2 days,
      and the average <li><%= link_to 'Cesarean', pregnancy_caesarean_path %></li> postnatal stay
    is 3–4 days. During this time</li>
    <li>Mother is monitored for bleeding, bowel and bladder function, and baby care.
      The infant's health is also monitored.
    </li>
    <li>We offer information to promote mother and baby's health and well-being.
      We help recognize and respond to problems.</li>
    <li>At the first postnatal contact, we advise about the signs and symptoms after child birth</li>
    <li>We encourage and guide for breast feeding. </li>
    <li>At each postnatal contact, we offer parents,  information and advice about:
      <ul>
        <li>Assess their baby's general condition.</li>
        <li>Identify signs and symptoms of common health problems seen in babies.</li>
        <li>Contact a health care professional or emergency service if required.</li>
      </ul>
    </li>
  </ul>
</div>
<div>
  <h2><span>Postnatal mental health</span></h2>
</div>
<div class="blog_text">
  <p>The birth of a child can be a joyous and exciting time, but following childbirth,
    some women may experience postpartum disorders that can adversely affect
    a woman’s mental health. </p>
  <p>Mothers commonly experience what is called “the baby blues,”
    mood swings that are the result of high hormonal fluctuations that
    occur during and immediately after childbirth.</p>
  <ul>
    <li>Their causes may be:<ul><li>Hormonal changes</li>
        <li>Situational risks</li>
        <li>Life stresses</li></ul></li>
  </ul>
  <ul>
    <li>We helps to recognize mental health problems during pregnancy and
      in the first year after giving birth</li>
    <li>We cares and gives treatment of mental health problems when planning a pregnancy,
      during pregnancy and in the first year after giving birth</li>
  </ul>
</div>