<div class="blog" style="min-height: 0px;"><h2><span>Prenatal Checkups</span></h2></div>
<img id="img1" alt="Prenatal Checkups" src="<%=asset_path('pregnancy/prenatal.jpg')-%>"
     class="prenatalImg"></img>
<br/><br/>
<div class="blog_text">
  <p>
    Now that you're pregnant, getting regular health care is more important than ever.
  </p>
</div>
<div>
  <h2><span>Prenatal Checkup Schedule</span></h2>
</div>
<div class="blog_text">
  <p>The usual schedule of prenatal visits to your practitioner
    is monthly for the first twenty-eight weeks, every two weeks from twenty-eight
    to thirty-six weeks, and weekly thereafter until delivery. </p>
  <p>The frequency and complexity of these visits may vary, according to your practitioner's philosophy,
    your previous obstetrical history, and any special needs you and your baby may have.
  </p>
  <p>
    <a href="/pregnancy/week_by_week">Find out your baby's growth week by week.</a>
  </p>
</div>
<div>
  <h2><span>Proper Information</span></h2>
</div>
<div class="blog_text">
  <p>We realize that you are already getting an overload of advice and information
    from diverse sources, including friends, relatives and not the least, the Internet.
    We therefore utilize the some part of prenatal visit time to give you upto date
    and correct information that is relevant to you.</p>
</div>
<div>
  <h2><span>Baby's heart beat</span></h2>
</div>
<div class="blog_text">
  <p>You may be able to hear -- and see -- your baby's heart beat for the first time
    when you're about 8 weeks pregnant if you have an early ultrasound exam.
    (The baby's heart starts to beat at around 6 weeks.)<br/>
    Checking your baby's heartbeat will become a regular part of every prenatal visit.
  </p>
</div>
<div>
  <h2><span>Prenatal Tests</span></h2>
</div>
<div class="blog_text">
  <p>Prenatal tests are one of the many ways to check on your well-being and
    that of your growing baby.</p>
</div>